In [1]:
import pandas as pd

In [2]:
file_path = r"../files/sp24Enrollments.csv"
df = pd.read_csv(file_path, sep='|')
df

,Term/Year Code,College,Dept,Degree,Major Code,Major Name,Conc code,Concentration Name (if any),Fresh- man,Sopho- more,...,Total Grad,Full-Time Grad,Part-Time Grad,Profes-sional,Full-Time Professional,Part-Time Professional,Total,Full-Time Total,Part-Time Total,Academic Program Code
0,120241,"Agricultural, Consumer & Environmental Sciences",306.0,BS,5895.0,Metropolitan Food & Enviro Sys,,,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,10KL5895BS
1,120241,"Agricultural, Consumer & Environmental Sciences",306.0,BS,6147.0,SustainabilityinFood&EnviroSys,,,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.0,10.0,0.0,10KL6147BS
2,120241,"Agricultural, Consumer & Environmental Sciences",306.0,MS,5599.0,Bioprocessing and Bioenergy,5166,Professional Science Masters,0.0,0.0,...,3.0,3.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,1PKS5599MS
3,120241,"Agricultural, Consumer & Environmental Sciences",342.0,BS,5740.0,"Ag Ldrship, Ed & Communication",5736,Agricultural Education,2.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,26.0,25.0,1.0,10KL5736BS
4,120241,"Agricultural, Consumer & Environmental Sciences",342.0,BS,5740.0,"Ag Ldrship, Ed & Communication",5737,Org & Community Leadership,2.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,42.0,39.0,3.0,10KL5737BS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888,120241,School of Information Sciences,992.0,PHD,5695.0,Information Sciences,,,0.0,0.0,...,113.0,106.0,7.0,0.0,0.0,0.0,113.0,106.0,7.0,10KS5695PHD
889,120241,Carle Illinois Medicine,869.0,MD,5641.0,Medicine - Carle Illinois COM,,,0.0,0.0,...,0.0,0.0,0.0,208.0,200.0,8.0,208.0,200.0,8.0,10LT5641MD
890,120241,Provost & VC Acad Affairs,593.0,NDEG,67.0,Nondegree,,,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,3.0,10NB0067NDEG
891,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
892,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.keys()

Index(['Term/Year Code', 'College', 'Dept', 'Degree', 'Major Code',
       'Major Name', 'Conc code', 'Concentration Name (if any)', 'Fresh- man',
       'Sopho- more', 'Junior', 'Senior', 'Non- degree Ugrad',
       'Total Under grad', 'Full-Time Ugrad', 'Part-Time Ugrad',
       'Grad 1 (master)', 'Grad 2 (doctoral)', 'Non- degree Grad',
       'Total Grad', 'Full-Time Grad', 'Part-Time Grad', 'Profes-sional',
       'Full-Time Professional', 'Part-Time Professional', 'Total',
       'Full-Time Total', 'Part-Time Total', 'Academic Program Code'],
      dtype='object')

In [4]:
# combine rows based on same major
grouped_by_major = df.groupby('Major Name').agg({'College'      : 'first',
                                                 'Dept'         : 'first',
                                                 'Major Code'   : 'first',
                                                 'Total'     : 'sum'}).reset_index()

# formatting
grouped_by_major[['Dept', 'Major Code', 'Total']] = grouped_by_major[['Dept', 'Major Code', 'Total']].astype(int)
grouped_by_major['Major Name'] = grouped_by_major['Major Name'].str.strip()
grouped_by_major['College'] = grouped_by_major['College'].str.strip()

grouped_by_major

,Major Name,College,Dept,Major Code,Total
0,ACES Undeclared,"Agricultural, Consumer & Environmental Sciences",483,5621,86
1,Accountancy,Business,346,71,1441
2,Accountancy + Data Science,Business,346,6077,67
3,Accounting Data Analytics,Business,346,6017,13
4,Accounting Foundations,Business,346,6140,13
...,...,...,...,...,...
251,VMS-Veterinary Clinical Medcne,Veterinary Medicine,598,359,42
252,Value Chain Management,Business,902,6016,3
253,Veterinary Medicine,Veterinary Medicine,444,480,592
254,Voice,Fine & Applied Arts,495,157,10
255,Weather Climate Risk Analytics,Liberal Arts & Science,253,6046,39

In [5]:
grouped_by_major.to_csv('../sp24EnrollmentsClean.csv', sep='|', index=False)